.column {
  float: left;
  width: 33.33%;
  height: 200px;
  border-style: solid;
  border-width: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h1{
background-color: firebrick;
text-align: center;
}

.inside-column{
  float: left;
  width: 33.33%;
  border-style: solid;
  border-width: 5px;
  border-color: fuchsia;
  background: red;

}
